<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wonhigh.dao.WordListLogMapper">
    <resultMap id="BaseResultMap" type="com.wonhigh.module.WordListLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="word_type" property="wordType" jdbcType="VARCHAR"/>
        <result column="sys_group" property="sysGroup" jdbcType="VARCHAR"/>
        <result column="zh_cn" property="zhCn" jdbcType="VARCHAR"/>
        <result column="operation" property="operation" jdbcType="VARCHAR"/>
        <result column="ex_content" property="exContent" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, word_type, sys_group, zh_cn, operation, ex_content, content, create_user, create_user_id, 
    create_time, update_user, update_time
  </sql>

    <select id="selectOperationLogForList" resultMap="BaseResultMap" parameterType="com.wonhigh.module.WordListLog">
        select
        <include refid="Base_Column_List"/>
        from word_list_log
        where 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="wordType != null">
            AND word_type = #{wordType}
        </if>
        <if test="sysGroup != null">
            AND sys_group = #{sysGroup}
        </if>
        <if test="zhCn != null">
            AND zh_cn = #{zhCn}
        </if>
        <if test="operation != null">
            AND  operation ={operation}
        </if>
    </select>
    <select id="selectOperationLogByMap" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from word_list_log
        where 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="wordType != null">
            AND word_type = #{wordType}
        </if>
        <if test="sysGroup != null">
            AND sys_group = #{sysGroup}
        </if>
        <if test="zhCn != null">
            AND zh_cn = #{zhCn}
        </if>
        <if test="operation != null">
           AND  operation ={operation}
        </if>
        <if test="createTimeStart != null">
            AND create_time <![CDATA[   >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd != null">
            AND create_time <![CDATA[   <= ]]> #{createTimeEnd}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from word_list_log
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from word_list_log
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.wonhigh.module.WordListLog">
    insert into word_list_log (id, word_type, sys_group, 
      zh_cn, operation, ex_content, 
      content, create_user, create_user_id, 
      create_time, update_user, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{wordType,jdbcType=VARCHAR}, #{sysGroup,jdbcType=VARCHAR}, 
      #{zhCn,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, #{exContent,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.wonhigh.module.WordListLog">
        insert into word_list_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="wordType != null">
                word_type,
            </if>
            <if test="sysGroup != null">
                sys_group,
            </if>
            <if test="zhCn != null">
                zh_cn,
            </if>
            <if test="operation != null">
                operation,
            </if>
            <if test="exContent != null">
                ex_content,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="wordType != null">
                #{wordType,jdbcType=VARCHAR},
            </if>
            <if test="sysGroup != null">
                #{sysGroup,jdbcType=VARCHAR},
            </if>
            <if test="zhCn != null">
                #{zhCn,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                #{operation,jdbcType=VARCHAR},
            </if>
            <if test="exContent != null">
                #{exContent,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.wonhigh.module.WordListLog">
        update word_list_log
        <set>
            <if test="wordType != null">
                word_type = #{wordType,jdbcType=VARCHAR},
            </if>
            <if test="sysGroup != null">
                sys_group = #{sysGroup,jdbcType=VARCHAR},
            </if>
            <if test="zhCn != null">
                zh_cn = #{zhCn,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                operation = #{operation,jdbcType=VARCHAR},
            </if>
            <if test="exContent != null">
                ex_content = #{exContent,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wonhigh.module.WordListLog">
    update word_list_log
    set word_type = #{wordType,jdbcType=VARCHAR},
      sys_group = #{sysGroup,jdbcType=VARCHAR},
      zh_cn = #{zhCn,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      ex_content = #{exContent,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>